In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

weather = pd.read_csv("../data/bna_weather.csv", nrows=9740)

In [3]:
headway = pd.read_csv("../data/Headway_Data.csv", nrows=1981716)

pd.set_option allows you to see all columns   rest it pd.reset_option("max_columns")

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
headway.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN,0,0,1,0,0.0,0,2,12.333333
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN,0,0,1,0,0.0,0,36,11.383333

In [6]:
headway['ROUTE_ABBR'].value_counts()

55    362259
56    355098
52    291150
23    250787
50    249880
3     216446
22    153074
7     103021
Name: ROUTE_ABBR, dtype: int64

In [7]:
headway.drop(headway.columns[[-1,-2]], axis = 1, inplace=True)

In [8]:
headway['TRIP_EDGE'].value_counts()

0    1209965
2     387235
1     384515
Name: TRIP_EDGE, dtype: int64

In [9]:
headway.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN,0,0,1,0,0.0,0
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN,0,0,1,0,0.0,0
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN,0,0,1,0,0.0,0
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN,0,0,1,0,NaN,0
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN,0,0,1,0,0.0,0

In [10]:
headway['ROUTE_ABBR'].value_counts()

55    362259
56    355098
52    291150
23    250787
50    249880
3     216446
22    153074
7     103021
Name: ROUTE_ABBR, dtype: int64

In [11]:
headway['OPERATOR'].value_counts()

1147    15479
1587    15352
664     15268
409     14889
1020    14495
        ...
2091        1
2219        1
242         1
315         1
2310        1
Name: OPERATOR, Length: 458, dtype: int64

In [12]:
headway.drop(headway.columns[[-1,-2, -3, -4, -5]], axis = 1, inplace=True)

In [13]:
headway.drop(headway.columns[[-1]], axis = 1, inplace=True)

In [14]:
headway.head(10)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN

In [26]:
trip = headway[headway["ROUTE_ABBR"] == 22]

In [28]:
trip

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975700,120221101,1,91048434,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,18:18:00,18:03:30,18:22:38,-4.633333,13.0,17.366666,4.366666
1975701,120221101,1,91048435,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,CV23,5.0,0,36.183480,-86.814220,18:30:00,18:32:58,18:32:58,-2.966666,13.0,14.483333,1.483333
1975702,120221101,1,91048436,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,25ACLARK,6.0,2,36.186350,-86.816998,18:31:00,18:34:16,18:34:16,-3.266666,NaN,NaN,NaN
1981703,120221101,1,91057348,2022-11-01,22,8405,2576,329892,0,TO DOWNTOWN,CRES,11.0,1,36.194535,-86.837139,15:15:00,15:08:28,15:16:11,-1.183333,NaN,NaN,NaN
1981704,120221101,1,91057349,2022-11-01,22,8405,2576,329892,0,TO DOWNTOWN,MCC5_2,3.0,2,36.167091,-86.781923,15:40:00,15:35:49,15:35:49,4.183333,NaN,NaN,NaN

Group by example  clean up a datafram,  Used a for loop to get the groups, then did a group by 

*cleaned the column 

Preston Spencer
  10:29 AM
wego_tidy = wego.iloc[:, np.r_[0:22, 30]]

describe to get quartitles 

wego_tidy.describe() 

for loop to create group or quartiles 

wego_tidy['ADHERENCE_CAT'] = ''

for ind, row in wego_tidy.iterrows():
    if row['ADHERENCE'] < -3.4:
        wego_tidy.loc[ind, 'ADHERENCE_CAT'] = 'SLOWEST 25%'
    elif row['ADHERENCE'] < -1.383:
        wego_tidy.loc[ind, 'ADHERENCE_CAT'] = 'MEDIAN'
    elif row['ADHERENCE'] < -1.33333:
        wego_tidy.loc[ind, 'ADHERENCE_CAT'] = '50 to 75%'
    else:
        wego_tidy.loc[ind, 'ADHERENCE_CAT'] = 'FASTEST 25%'
wego_tidy.head()






wego_tidy.groupby(['ADHERENCE_CAT', 'TRIP_EDGE']).agg({'ADHERENCE':['mean']})

In [29]:
trip2 =  trip[trip["DATE"] == '2022-11-01']

In [30]:
trip2

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
1975217,120221101,1,91047943,2022-11-01,22,2200,1040,325946,0,TO DOWNTOWN,MHSP,14.0,1,36.178360,-86.845441,04:42:00,04:36:21,04:42:22,-0.366666,NaN,NaN,NaN
1975218,120221101,1,91047944,2022-11-01,22,2200,1040,325946,0,TO DOWNTOWN,ELIZ,10.0,0,36.193454,-86.839981,04:46:00,04:46:40,04:46:40,-0.666666,NaN,NaN,NaN
1975219,120221101,1,91047945,2022-11-01,22,2200,1040,325946,0,TO DOWNTOWN,CV23,5.0,0,36.182177,-86.814445,04:54:00,04:52:40,04:52:40,1.333333,NaN,NaN,NaN
1975220,120221101,1,91047946,2022-11-01,22,2200,1040,325946,0,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,-86.781923,05:10:00,05:12:54,05:12:54,-2.900000,NaN,NaN,NaN
1975221,120221101,1,91047947,2022-11-01,22,2200,1040,325965,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,05:15:00,05:12:54,05:15:08,-0.133333,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975700,120221101,1,91048434,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,-86.781923,18:18:00,18:03:30,18:22:38,-4.633333,13.0,17.366666,4.366666
1975701,120221101,1,91048435,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,CV23,5.0,0,36.183480,-86.814220,18:30:00,18:32:58,18:32:58,-2.966666,13.0,14.483333,1.483333
1975702,120221101,1,91048436,2022-11-01,22,2211,1598,326260,0,FROM DOWNTOWN,25ACLARK,6.0,2,36.186350,-86.816998,18:31:00,18:34:16,18:34:16,-3.266666,NaN,NaN,NaN
1981703,120221101,1,91057348,2022-11-01,22,8405,2576,329892,0,TO DOWNTOWN,CRES,11.0,1,36.194535,-86.837139,15:15:00,15:08:28,15:16:11,-1.183333,NaN,NaN,NaN
1981704,120221101,1,91057349,2022-11-01,22,8405,2576,329892,0,TO DOWNTOWN,MCC5_2,3.0,2,36.167091,-86.781923,15:40:00,15:35:49,15:35:49,4.183333,NaN,NaN,NaN

helps get the  date of the week by name  dte coulmn must be datetime data type 


headway['WEEKDAY'] = [calendar.day_name[x.weekday()] for x in headway['DATE']]

In [ ]:
headway['WEEKDAY'] = [calendar.day_name[x.weekday()] for x in headway['DATE']]

In [34]:
drivers = headway[['OPERATOR', 'DATE', 'SCHEDULED_TIME', 'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE', 'TRIP_ID','ROUTE_ABBR']]

In [35]:
drivers

,OPERATOR,DATE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,TRIP_ID,ROUTE_ABBR
0,2088,2021-11-01,14:10:00,13:59:21,14:12:00,-2.000000,297750,7
1,2088,2021-11-01,14:20:00,14:23:21,14:23:21,-3.350000,297750,7
2,2088,2021-11-01,14:39:00,14:36:46,14:59:11,-20.183333,297750,7
3,2088,2021-11-01,15:10:00,15:04:31,15:10:17,-0.283333,297749,50
4,2088,2021-11-01,15:27:00,15:16:59,15:16:59,10.016666,297749,50
...,...,...,...,...,...,...,...,...
1981710,2355,2022-11-01,15:18:00,15:19:43,15:20:44,-2.733333,329980,50
1981711,1880,2022-11-01,15:20:00,14:57:12,15:07:06,12.900000,330003,50
1981712,1880,2022-11-01,15:37:00,15:10:16,15:10:16,26.733333,330003,50
1981713,1922,2022-11-01,15:20:00,14:59:40,15:19:02,0.966666,330011,56
1981714,1922,2022-11-01,15:30:00,15:26:05,15:27:46,2.233333,330011,56

In [36]:
drivers.describe()

           OPERATOR     ADHERENCE       TRIP_ID    ROUTE_ABBR
count  1.981715e+06  1.927285e+06  1.981715e+06  1.981715e+06
mean   1.635251e+03 -2.193849e+00  3.111437e+05  3.933449e+01
std    6.375643e+02  4.886912e+00  7.312918e+03  1.969928e+01
min    0.000000e+00 -5.067667e+02  2.977490e+05  3.000000e+00
25%    1.222000e+03 -3.400000e+00  3.047570e+05  2.300000e+01
50%    1.733000e+03 -1.383333e+00  3.097210e+05  5.200000e+01
75%    2.161000e+03 -1.333330e-01  3.174720e+05  5.500000e+01
max    2.255400e+04  7.883333e+01  3.300110e+05  5.600000e+01

In [42]:
drivers['ADHERENCE_CAT'] = ''

for ind, row in drivers.iterrows():
    if row['ADHERENCE'] < -3.4:
        drivers.loc[ind, 'ADHERENCE_CAT'] = 'SLOWEST 25%'
    elif row['ADHERENCE'] < -1.383:
        drivers.loc[ind, 'ADHERENCE_CAT'] = 'MEDIAN'
    elif row['ADHERENCE'] < -1.33333:
        drivers.loc[ind, 'ADHERENCE_CAT'] = '50 to 75%'
    else:
        drivers.loc[ind, 'ADHERENCE_CAT'] = 'FASTEST 25%'
drivers.head()

C:\Users\cside\AppData\Local\Temp\ipykernel_13104\1636676806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drivers['ADHERENCE_CAT'] = ''

,OPERATOR,DATE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,TRIP_ID,ROUTE_ABBR,ADHERENCE_CAT
0,2088,2021-11-01,14:10:00,13:59:21,14:12:00,-2.000000,297750,7,MEDIAN
1,2088,2021-11-01,14:20:00,14:23:21,14:23:21,-3.350000,297750,7,MEDIAN
2,2088,2021-11-01,14:39:00,14:36:46,14:59:11,-20.183333,297750,7,SLOWEST 25%
3,2088,2021-11-01,15:10:00,15:04:31,15:10:17,-0.283333,297749,50,FASTEST 25%
4,2088,2021-11-01,15:27:00,15:16:59,15:16:59,10.016666,297749,50,FASTEST 25%

In [44]:
drivers.groupby(['OPERATOR']).agg({'ADHERENCE':['mean']})

          ADHERENCE
               mean
OPERATOR
0         -3.150400
30        18.450000
85         8.833333
86        -1.570833
93        -4.694444
...             ...
2622      -1.592448
2623      -0.337417
2624      -3.826829
2630      -2.319298
22554     -0.388889

[458 rows x 1 columns]