In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
weather = pd.read_csv('../Data/bna_weather.csv')

In [8]:
weather.head()

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
weather.info

<bound method DataFrame.info of                      Date   key        class  expire_time_gmt obs_id  \
0     2021-11-01 00:53:00  KBNA  observation       1635753180   KBNA
1     2021-11-01 01:30:00  KBNA  observation       1635755400   KBNA
2     2021-11-01 01:53:00  KBNA  observation       1635756780   KBNA
3     2021-11-01 02:53:00  KBNA  observation       1635760380   KBNA
4     2021-11-01 03:53:00  KBNA  observation       1635763980   KBNA
...                   ...   ...          ...              ...    ...
9734  2022-10-31 19:53:00  KBNA  observation       1667271180   KBNA
9735  2022-10-31 20:53:00  KBNA  observation       1667274780   KBNA
9736  2022-10-31 21:53:00  KBNA  observation       1667278380   KBNA
9737  2022-10-31 22:53:00  KBNA  observation       1667281980   KBNA
9738  2022-10-31 23:53:00  KBNA  observation       1667285580   KBNA

       obs_name  valid_time_gmt day_ind  temp  wx_icon  ...  clds water_temp  \
0     Nashville      1635745980       N    51       26  ...   OVC        NaN
1     Nashville      1635748200       N    50       29  ...   SCT        NaN
2     Nashville      1635749580       N    49       33  ...   CLR        NaN
3     Nashville      1635753180       N    48       33  ...   CLR        NaN
4     Nashville      1635756780       N    47       33  ...   CLR        NaN
...         ...             ...     ...   ...      ...  ...   ...        ...
9734  Nashville      1667263980       N    60       26  ...   OVC        NaN
9735  Nashville      1667267580       N    60       26  ...   OVC        NaN
9736  Nashville      1667271180       N    58       27  ...   BKN        NaN
9737  Nashville      1667274780       N    60       27  ...   BKN        NaN
9738  Nashville      1667278380       N    60       26  ...   OVC        NaN

      primary_wave_period primary_wave_height  primary_swell_period  \
0                     NaN                 NaN                   NaN
1                     NaN                 NaN                   NaN
2                     NaN                 NaN                   NaN
3                     NaN                 NaN                   NaN
4                     NaN                 NaN                   NaN
...                   ...                 ...                   ...
9734                  NaN                 NaN                   NaN
9735                  NaN                 NaN                   NaN
9736                  NaN                 NaN                   NaN
9737                  NaN                 NaN                   NaN
9738                  NaN                 NaN                   NaN

      primary_swell_height  primary_swell_direction  secondary_swell_period  \
0                      NaN                      NaN                     NaN
1                      NaN                      NaN                     NaN
2                      NaN                      NaN                     NaN
3                      NaN                      NaN                     NaN
4                      NaN                      NaN                     NaN
...                    ...                      ...                     ...
9734                   NaN                      NaN                     NaN
9735                   NaN                      NaN                     NaN
9736                   NaN                      NaN                     NaN
9737                   NaN                      NaN                     NaN
9738                   NaN                      NaN                     NaN

      secondary_swell_height  secondary_swell_direction
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3                        NaN                        NaN
4                        NaN                        NaN
...                      ...                        ...
9734                     NaN                        NaN
9735                     NaN                        NaN
9736                     NaN                        NaN
9737                     NaN                        NaN
9738                     NaN                        NaN

[9739 rows x 46 columns]>

In [10]:
weather.isna().sum()

Date                            0
key                             0
class                           0
expire_time_gmt                 0
obs_id                          0
obs_name                        0
valid_time_gmt                  0
day_ind                         0
temp                            0
wx_icon                         0
icon_extd                       0
wx_phrase                       0
pressure_tend                6854
pressure_desc                6854
dewPt                           0
heat_index                      0
rh                              0
pressure                        0
vis                             4
wc                              8
wdir                         1522
wdir_cardinal                   8
gust                         8279
wspd                            8
max_temp                     9378
min_temp                     9378
precip_total                 9636
precip_hrly                     0
snow_hrly                    9730
uv_desc                        14
feels_like                      1
uv_index                       14
qualifier                    9739
qualifier_svrty              9739
blunt_phrase                 9739
terse_phrase                 9739
clds                            0
water_temp                   9739
primary_wave_period          9739
primary_wave_height          9739
primary_swell_period         9739
primary_swell_height         9739
primary_swell_direction      9739
secondary_swell_period       9739
secondary_swell_height       9739
secondary_swell_direction    9739
dtype: int64

In [11]:
weather['Date'].value_counts()

2021-11-07 01:53:00    2
2022-07-29 09:23:00    1
2022-03-19 02:53:00    1
2022-06-22 09:53:00    1
2022-09-26 17:53:00    1
                      ..
2022-05-29 09:53:00    1
2022-04-14 07:21:00    1
2021-12-23 03:53:00    1
2022-10-24 12:53:00    1
2022-02-22 02:53:00    1
Name: Date, Length: 9738, dtype: int64

In [12]:
headway = pd.read_csv('../Data/Headway Data.csv')

In [13]:
headway.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000